/* Define root variables */
:root {
    --primary-bg-color: #fff;
    --text-primary: #000;
    --heading-color: #333;
    --link-color: #1e90ff;
    --container-bg: #f9f9f9;
    --navbar-bg: #eee;
    --navbar-link-color: #000;
    --link-hover-bg: #ddd;
    --footer-color: #333;
    --project-desc-color: #666;
    --section-bg: #f2f2f2;
    --toggle-bg: #333;
    --toggle-color: #fff;
    --toggle-hover-bg: #555;
    --profile-border-color: #000;
    --font-family: 'Arial', sans-serif;
    --mini-heading-color: #c4c3c3;
    --divider: #ccc;
    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 32px;
    --space-xl: 40px;
}

/* Dark mode variables */
body.dark-mode {
    --primary-bg-color: #000;
    --text-primary: #ccc;
    --heading-color: #fff;
    --link-color: #1e90ff;
    --container-bg: #111;
    --navbar-bg: #222;
    --navbar-link-color: #eee;
    --link-hover-bg: #1e90ff;
    --footer-color: #bbb;
    --project-desc-color: #bbb;
    --section-bg: #222;
    --toggle-bg: #fff;
    --toggle-color: #000;
    --toggle-hover-bg: #ccc;
    --divider: #333;
    --profile-border-color: #fff;
    --mini-heading-color: #454545;
}

/* General styles */
body {
    font-family: var(--font-family);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: var(--primary-bg-color);
    color: var(--text-primary);
    width: 100%;
}

h1, h2, h3 {
    color: var(--heading-color);
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}

a:hover {
    text-decoration: underline;
}

#shareButton {
    background: transparent;
    border: none;
}

@media (max-width: 600px) {
    #shareButton {
        padding: 0;
    }
}
.share-btn{
    float: right;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-md);
    background: var(--container-bg);
    border-radius: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.navbar, .navbar1 {
    
    overflow: auto;
    background: var(--navbar-bg);
    padding-left: var(--space-lg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin-top: -50px;
    top: 0;
    z-index: 1000;
}
.navbar1 {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px var(--mini-heading-color) solid;
}
.navbar .nav-links, .navbar1 .nav-links{
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}

.navbar .nav-links li, .navbar1 .nav-links li {
    margin: 0 ;
}

.navbar .nav-links a, .navbar1 .nav-links a {
    color: var(--navbar-link-color);
    font-weight:normal;
    padding-top: 4px;
    border-radius: 2px;
    transition: background 0.3s;
    font-size: small;


}

.navbar .nav-links a:hover, .navbar1 .nav-links a:hover {
    border-bottom: 2px solid var(--link-color); /* Add a solid border at the bottom */
}


.header {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 0;
    margin-top: 0;
    padding: var(--space-lg);
    height: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.mini-heading {
    text-decoration: underline;
    text-decoration-color: var(--mini-heading-color);
}

.mode-toggle {
    background-color: var(--toggle-bg);
    color: var(--toggle-color);
    border: none;
    padding: var(--space-xs) var(--space-sm);
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.6s, transform 0.6s, opacity 1.2s ease-in-out;
    opacity: 1;
    position: absolute;
    top: var(--space-sm); /* Adjust as needed */
    right: var(--space-sm); /* Adjust as needed */
    z-index: 10;
    margin-right: 8px ;
    margin-top: 32px;
}

@media (min-width: 768px) {
    .header {
        height: 300px;
        padding: var(--space-xl);
    }
}


.header-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.profile-container {
    display: flex;
    justify-content: space-between; /* Ensure space between profile pic and icons */
    align-items: center;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid var(--profile-border-color);
}

.social-icons {
    display: flex;
    flex-direction: row; /* Display icons vertically */
    align-items: flex-end; /* Align icons to the right */
    gap: 10px; /* Adjust spacing between icons */
    margin-left: auto; /* Add margin to create space between picture and icons */
}
.social-icons-beside {
    display: flex;
    flex-direction: column; /* Display icons vertically */
    align-items: flex-end; /* Align icons to the right */
    gap: 10px; /* Adjust spacing between icons */
    margin-left: auto; /* Add margin to create space between picture and icons */
    margin-top: 0%;
}

.social-icon img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.2); /* Scale up on hover */
}
body.dark-mode .social-icon img , body.dark-mode .share-btn img, body.dark-mode .project-link-icon, body.dark-mode .nav-icon img {
    filter: invert(1); /* Invert the color of SVG to white */
}

.header-text {
    color: var(--text-primary);
    font-size: 1.5rem;
}

.header-title {
    color: var(--text-primary);
    font-size: 1.125rem;
    margin-top: var(--space-xs);
}
.time-period{
    text-align: right;
    float: right;
    padding-right: var(--space-xs);
}
.about-me, .projects, .cv, .awards, .skills {
    background-color: var(--section-bg);
    padding: var(--space-md);
    border-radius: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    margin-bottom: var(--space-lg);
}

.about-me:hover, .projects:hover, .cv:hover, .certifications:hover, .skills:hover {
    transform: none;
}


.mode-toggle {
    background-color: var(--toggle-bg);
    color: var(--toggle-color);
    border: none;
    padding: var(--space-xs) var(--space-sm);
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.6s, transform 0.6s, opacity 1.2s ease-in-out;
    opacity: 1;
}

.mode-toggle img {
    width: 24px;
    height: 24px;
    transition: transform 0.6s;
}

.mode-toggle:hover {
    background-color: var(--toggle-hover-bg);
    transform: scale(1.05);
}

.footer {
    text-align: center;
    padding: var(--space-sm);
    color: var(--footer-color);
}

/* Adjustments for social icons */
.social-icons {
    display: flex;
    justify-content: flex-end; /* Align icons to the right */
    gap: var(--space-sm); /* Add spacing between icons */
}
.nav-icon, .nav-icon1{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.nav-icon, .nav-icon1{
    width: 100px;
}

.nav-icon1 img {
    width: 30px;
    height: 30px;
}

.nav-icon img{
    width: 24px;
    height: 24px;
}
.social-icon img{
    width: 24px; /* Adjust icon size */
    height: 24px; /* Adjust icon size */
    transition: transform 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.2); /* Scale up on hover */
}
.share-btn img:hover {
    transform: scale(1.2); /* Scale up on hover */
}

.share-btn {
    display:block;
    align-items: center;
    float: right;
}

.share-btn img {
    float: right;
    width: 24px;
    height: 24px;
    margin-right: var(--space-lg); /* Adjust margin as needed */
}
.nav-icon1{
    visibility: hidden;
}
#copyNotification {
    visibility: hidden;
    min-width: 160px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px; /* Make the corners rounded */
    padding: 8px;
    position: fixed;
    z-index: 1001;
    bottom: 50px;
    right: 10px;
    font-size: 14px;
}

#copyNotification.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 30px; opacity: 0;} 
    to {bottom: 50px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 50px; opacity: 1;} 
    to {bottom: 30px; opacity: 0;}
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .header {
        height: 300px;
        padding: var(--space-xl);
    }

    .header-content {
        flex-direction: row;
        justify-content: flex-start;
    }

    .profile-container {
        margin-right: var(--space-lg);
    }

    .profile-pic {
        width: 150px;
        height: 150px;
    }

    .header-text {
        font-size: 2rem;
    }

    .header-title {
        font-size: 1.25rem;
    }
    .header-left {
        padding-left: 32px;
    }
}

/* CSS for smaller screens */
@media (max-width: 767px) {
    .nav-links {
        display: flex;
        align-items: center; /* Center align links */
        padding: var(--space-xs); /* Add padding */
    }
    .nav-icon1 img{
        width: 30px;
        height: 30px;
    }
    .nav-icon img{
        width: 20px;
        height: 20px;
    }
    .navbar, .navbar1 {
    
        position: fixed;
        margin-left: -24px;
    }
    .nav-links li {
        
        margin: 0 ; /* Adjust margin */
        border-radius: 2px; /* Rounded corners */
        background-color: var(--navbar-bg); /* Match navbar background */
    }
    .nav-icon, .nav-icon1{
        width: 50px;
    }
    .navbar, .navbar1 {

        overflow: auto;
        background: var(--navbar-bg);
        padding-left: var(--space-xs);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        margin-top: -55px;
        top: 0;
        z-index: 1000;
    }
    .navbar .nav-links a, .navbar1 .nav-links a {
        color: var(--navbar-link-color);
        font-weight:normal;
        padding-top: 2px;
        border-radius: 2px;
        transition: background 0.3s;
        font-size: x-small;
    
    

    }
    .nav-links a {
        display: block;
        padding: 0px;
        color: var(--navbar-link-color);
        font-weight: bold;
        text-align: center;
        border-radius: 2px; /* Rounded corners */
        transition: background 0.3s;
    }

    .navbar .nav-links a:hover, .navbar1 .nav-links a:hover {
        border-bottom: 2px solid var(--link-color); /* Add a solid border at the bottom */
    }

    /* Hide the Skills section in smaller screens */

    .profile-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
    }
    .share-btn img {
        margin-right: 32px; /* Adjust margin as needed */
    }
    .profile-pic {
        margin-bottom: var(--space-sm);
    }
    .header-left {
        padding: 0%;
    }
    .header-content {
        text-align: center;
    }
    .mode-toggle {
        margin-right: 0 ;
        margin-top: 40px;
    }
}
/* Add styles for the dividers */
.project-divider {
    border: 0;
    height: 1px;
    background: var(--divider);
    opacity: 0.8;
}
.subproject-divider {
    border: 0;
    height: 1px;
    background: var(--divider);
    opacity: 0.5;
}
.section-divider {
    border: 0;
    height: 1px;
    background: var(--divider);
    opacity: 1;
}

Ensure that the project descriptions have some padding for better readability
.project-description {
    padding: var(--space-sm) 0;
}
.project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.project-link-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
    margin-left: auto;
    margin-bottom: -5px;
    margin-right: var(--space-sm); /* Adjust margin as needed */
}

.project-link-icon:hover {
    transform: scale(1.2); /* Scale up on hover */
}

ul {
    list-style-type: none;
  }